<h1>New addition</h1>
<form action=/wizard_add>
<label for="giraffe1"> Add this: </label>
<input id="giraffe1" name="first_num1">

<label for="panda1"> to this: </label>
<input id="panda1" name="second_num1">

<button>
Add!
</button>

</form>
