<h1>New division</h1>
<form action=/wizard_divide>
<label for="giraffe3"> Divide this: </label>
<input id="giraffe3" name="first_num3">

<label for="panda3"> by this: </label>
<input id="panda3" name="second_num3">

<button>
Divide!
</button>

</form>