<h1>New multiplication</h1>
<form action=/wizard_multiply>
<label for="giraffe2"> Multiply this: </label>
<input id="giraffe2" name="first_num2">

<label for="panda2"> by this: </label>
<input id="panda2" name="second_num2">

<button>
Multiply!
</button>

</form>