<h1>New subtraction</h1>
<form action=/wizard_subtract>
<label for="giraffe"> Subtract this: </label>
<input id="giraffe" name="first_num">

<label for="panda"> from this: </label>
<input id="panda" name="second_num">

<button>
Subtract!
</button>

</form>
